@charset "utf-8";

html,
body {
  height: 100vh;
}

#page-content {
  flex: 1 0 auto;
}

.logout-icon{
  width: 25px;
  height: 25px;
}


#sticky-footer {
   flex-shrink: none;
}

.a-link {
  color: #aaaaaa;
  text-decoration: none;
}

.a-link:hover {
  color: #ffffff;
  text-decoration:none; 
  cursor:pointer;  
}

.languages-header-container button {
  width: 4vw;
  margin: 0 5px;
  min-width: 28px;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.languages-btn-spanish {
  background-image: url('../icons/spanish.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 4vw;
  height: 3vh;
  max-width: 40px;
  max-height: 30px;
}

.languages-btn-gallaecian {
  background-image: url('../icons/gallaecian.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 4vw;
  height: 3vh;
  max-width: 40px;
  max-height: 30px;
}

.languages-btn-english {
  background-image: url('../icons/english.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 4vw;
  height: 3vh;
  max-width: 40px;
  max-height: 30px;
}


.btn-showall-top {
  min-height: 5vh;
}

.btn-showall-top img {
  height: 25px;
  width: 25px;
  margin: 0 10px;
  max-width: 5vw;
  max-height: 5vh;
}


.btn-showall-actions img {
  height: 25px;
  width: 25px;
  max-width: 5vw;
  max-height: 5vh;
  margin:2px;
}


.btn-back img {
  height: 40px;
  width: 40px;
  max-width: 8vw;
  max-height: 8vh;
  margin:15px;
}


.sup{
  vertical-align: super;
  font-size: smaller;
}


.a-back {
  color: #4d4d4d;
  text-decoration: none;
  font-size: 1.5em;
}

.a-back:hover {
  color: #1a1a1a;
  text-decoration:none; 
  cursor:pointer;  
}